/* Common */
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

p {
  margin: 0;
}

a {
  color: #e6e6e6;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #b3b3b3;
}

/* Main items */
body {
  font-family: Ubuntu, Calibri, Arial, Helvetica, sans-serif;
  background-color: #474143;
  color: #e6e6e6;
  margin: 0;
}

nav, footer {
  display: flex;
  justify-content: flex-end;
  background-color: #ffc636;
  margin: 0;
  color: #474143;
  animation: fadeIn 0.2s;
}

nav ul, footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

nav ul li, footer ul li {
  padding: 1em 2em;
}

nav ul li.active, footer ul li.active {
  background-color: #e6e6e6;
}

nav a, footer a {
  color: #474143;
}

nav a:hover, footer a:hover {
  color: #62595c;
}

main {
  min-height: 100vh;
}

main section > * {
  margin: 1em auto;
  max-width: 45rem;
  display: block;
}

main section > div {
  background-color: #e6e6e6;
  padding: 1em;
  border-radius: .2em;
  color: #474143;
}

main section > div a {
  color: #474143;
}

footer {
  padding: 1em 1.5em .4em;
}

#error {
  background-color: #474143;
  border: 0.3em solid #ffc636;
  font-size: 1.6em;
}

#error a {
  padding: 2em;
}

#load {
  position: relative;
  height: 6em;
  width: 10em;
  margin: 0 auto;
}

#load div {
  position: absolute;
  bottom: 0;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.6);
  margin: 0;
  animation: jump 1.4s infinite ease-out;
}

#load div:nth-of-type(1) {
  left: 0;
  animation-delay: .2s;
}

#load div:nth-of-type(2) {
  left: 2em;
  animation-delay: .4s;
}

#load div:nth-of-type(3) {
  left: 4em;
  animation-delay: .6s;
}

#load div:nth-of-type(4) {
  left: 6em;
  animation-delay: .8s;
}

/* Detail stuff */
#logCounter {
  display: flex;
}

#logCounter p {
  white-space: pre;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  20% {
    bottom: 4em;
  }
  80% {
    bottom: 0;
  }
}

/* Remove IP address (personal plugin) */
#tqShowIP, #chrome_websiteIP {
  display: none;
}
