$brown: rgb(71, 65, 67);
$yellow: rgb(255, 198, 54);
$blue: rgb(0, 173, 170);
$white: rgb(230, 230, 230);
$orange: rgb(255, 99, 68);
$trans: .2s;

// Common
* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

p {
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
    transition: $trans;
    &:hover {
        color: darken($white, 20);
    }
}

// Main items
body {
    font-family: Ubuntu, Calibri, Arial, Helvetica, sans-serif;
    background-color: $brown;
    color: $white;
	margin: 0;
}

nav, footer {
    display: flex;
    justify-content: flex-end;
    background-color: $yellow;
    margin: 0;
    color: $brown;
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        li {
            padding: 1em 2em;
            &.active {
                background-color: $white;
            }
        }
    }
    a {
        color: $brown;
        &:hover {
            color: lighten($brown, 10);
        }
    }
}

// nav {
// }

main {
    min-height: 100vh;
    // I want sections here!
    & > div {
        max-width: 40em;
        margin: 0 auto;
    }
}

footer {
    padding: 1em 1.5em .4em;
}

// Detail stuff

#logCounter {
    display: flex;
}
